@{
    ViewData["Title"] = "Home Page";
}

<head>


    <link rel="stylesheet" href="@Url.Content("~/css/Site.css") type="text/css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

</head>

<div class="text-center">

   
</div>


